body {
  margin: 0;
  font-family: "Roboto";
  background-color: #111;
  color: #000;
}

.contenedor {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.subtitulo {
  text-align: right;
  font-size: 14px;
  color: #444;
  margin-top: -35px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.tarjeta {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.foto {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 10px;
}

.tarjeta a {
  color: #3366cc;
  text-decoration: none;
}

.tarjeta a:hover {
  text-decoration: underline;
}
